.input {
    height: 2rem;
    min-width: 20rem;
    border-radius: .3125rem;
    border: 1px solid var(--outline-color);
    caret-color: rgb(108 99 255);
    color: rgb(108 99 255);
    font: var(--font-input);
    padding-left: .6rem;
}

.input::placeholder {
    color: var(--placeholder-color);
    font: var(--font-input);
}

#to-do-data-input::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer;
}

.button {
    max-width: 10rem;
    height: 2rem;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: .1875rem;
    border: 1px solid rgb(108 99 255);
    color: white;
    background:  rgb(108 99 255);
    font: var(--font-input);
    padding: 0 .4rem;
}