.app_theme_dark{
    --primary-color: rgb(247 247 247);
    --disabled-color: rgb(255 255 255 / 50%);
    --outline-color: rgb(255 255 255 / 40%);
    --placeholder-color: rgb(102 102 102);
    --accent-color: rgb(108 99 255);
    --bg-color: rgb(37 37 37);
    --hint-color: rgb(108 99 255 / 20%);
    --selector-color: rgb(247 247 247);
    --delete-color: rgb(229 0 0);
    --empty-list-image: url("../../assets/images/empty-list-dark.png");
    --cursor-pointer: url('../../assets/icons/cursor-dark-theme.svg'), pointer;
}
