.app_theme_light {
    --primary-color: rgb(37 37 37);
    --disabled-color: rgb(37 37 37 / 50%);
    --outline-color: rgb(108 99 255);
    --placeholder-color: rgb(195 193 229);
    --accent-color: rgb(108 99 255);
    --bg-color: rgb(255 255 255);
    --hint-color: rgb(108 99 255 / 20%);
    --selector-color: rgb(247 247 247);
    --delete-color: rgb(229 0 0);
    --empty-list-image: url("../../assets/images/empty-list-light.png");
    --cursor-pointer: url('../../assets/icons/cursor-light-theme.svg');
    --theme-switcher-svg: url('../../assets/icons/light-theme-icon.svg')
}
