.button {
    cursor: pointer;
    border-radius: var(--button-radius);
    border: 1px solid var(--accent-color);
    color: white;
    background:  var(--accent-color);
    font: var(--font-large);
    padding: .4rem;
}

.theme-button {
    border-radius: var(--button-radius);
}

.light-theme-icon {
    background-repeat: no-repeat;
    background-image: var(--theme-switcher-svg);
    background-size: 1.375rem;
    width: 2.375rem;
    height: 2.375rem;
}